/*Andres MT*/
header{
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom,
    rgba(206, 201, 203, 0.6),
    rgba(29,100,171, .6),
    rgb(250, 162, 67)
    ), url(../IMG/fondo.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: var(--espacios-contenido);

  }
  .textos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #f2f2f2;
    overflow: hidden;
    text-align: center;
  }
  .textos>h1{
    font-size: 80px;
  }
  .textos>h2{
    font-size: 30px;
    font-weight: 300;
      color:#2b0404;
  }
